<div class="wrapper wrapper-content animated fadeIn" ng-controller="flightsController">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Search List</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <div class="row app-row-0">
                            <div class="pull-right">
                                <button class="btn btn-primary btn-sm m-t-n-xs">Modify</button>
                                <button class="btn btn-default btn-sm m-t-n-xs">Delete</button>
                            </div>
                        </div>
                        <div class="gridStyle app-gridStyle-h200" ui-grid="{data:data,
                             enableRowSelection: true,multiSelect: false,enableRowHeaderSelection: true}" ui-grid-selection>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">

                        <input type="text" class="form-control input-sm m-b-xs" ng-model="searchText"
                               ng-change="filterData()" placeholder="Search in table">
                        <div class="gridStyle app-gridStyle-h200" ui-grid="{data:filteredData,
                             enableRowSelection: true,multiSelect: false,enableRowHeaderSelection: true}" ui-grid-selection>
                        </div>
                        <!--<table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>Carrier</th>
                                    <th>Type</th>
                                    <th>Leg</th>
                                    <th>Terminal</th>
                                    <th>Expiration Date</th>
                                    <th>Effective Date</th>
                                    <th>Travel Time</th>
                                    <th>Days Of Travel</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="d in filteredData">
                                    <td>{{ d.Number }}</td>
                                    <td>{{ d.Origin }}</td>
                                    <td>{{ d.Destination }}</td>
                                    <td>{{ d.Carrier }}</td>
                                    <td>{{ d.Type }}</td>
                                    <td>{{ d.Leg }}</td>
                                    <td>{{ d.Terminal }}</td>
                                    <td>{{ d.ExpirationDate }}</td>
                                    <td>{{ d.EffectiveDate }}</td>
                                    <td>{{ d.TravelTime }}</td>
                                    <td>{{ d.DaysOfTravel }}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="11">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="tabs-container">
                <tabset>
                    <tab heading="Search Flights">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Origin</label>
                                    <div class="col-sm-8">
                                        <select class="form-control m-b" name="account">
                                            <option>option 1</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Destination</label>
                                    <div class="col-sm-8">
                                        <select class="form-control m-b" name="account">
                                            <option>option 1</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Flight No</label>
                                    <div class="col-sm-8"><input type="text" class="form-control"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Date</label>

                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" data-mask="99/99/9999" placeholder="" ng-model="dataInput8">
                                        <span class="help-block">dd/mm/yyyy</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Days</label>

                                    <div class="col-sm-8">
                                        <label class="app-inline-checkbox">
                                            1 <input type="checkbox" value="option1">
                                        </label>
                                        <label class="app-inline-checkbox">
                                            2 <input type="checkbox" value="option2">
                                        </label>
                                        <label class="app-inline-checkbox">
                                            3 <input type="checkbox" value="option3">
                                        </label>
                                        <label class="app-inline-checkbox">
                                            4 <input type="checkbox" value="option4">
                                        </label>
                                        <label class="app-inline-checkbox">
                                            5 <input type="checkbox" value="option5">
                                        </label>
                                        <label class="app-inline-checkbox">
                                            6 <input type="checkbox" value="option6">
                                        </label>
                                        <label class="app-inline-checkbox">
                                            7 <input type="checkbox" value="option7">
                                        </label>
                                    </div>
                                </div>

                                <div>
                                    <button type="button" class="btn btn-primary btn-sm pull-right m-t-n-xs" ng-click="fetchFlights()">Search Flight</button>
                                </div>
                            </form>
                        </div>
                    </tab>
                    <tab heading="Create New">
                        <div class="panel-body">
                            
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>