<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Fabrikam-MyGet" value="https://www.myget.org/F/fabrikam-packs/api/v2" />
    <add key="Fabrikam-Nuget" value="https://microsoftcoe.mindtree.com/FabrikamNuGet/api/v2" />
  </packageSources>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
</configuration>
